<div class="col-sm-4">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.codigo.label}}</label><strong style="color:red;"> *</strong>
            {% if form.codigo.errors %}<label class="error">{% for error in form.codigo.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.codigo}}
        </div>
    </div>
</div>

<div class="col-sm-8">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.peça_desc.label}}</label><strong style="color:red;"> *</strong>
            {% if form.peça_desc.errors %}<label class="error">{% for error in form.peça_desc.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.peça_desc}}
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
        <label>{{form.categoria.label}}</label><strong style="color:red;"> *</strong>
        {% if form.categoria.errors %}<label class="error">{% for error in form.categoria.errors %}{{error}}{% endfor %}</label>{% endif %}
        <div class="input-group">
            <div class="form-line">
                {{form.categoria}}
            </div>
            <a class="input-group-addon popup" style="color: green;" title="Adicionar categoria"
               href="{% url 'cadastro:addcategoriaview' %}"><i class="material-icons add-new-icon" title="Adicionar">&#xE147;</i></a>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
        <label>{{form.marca.label}}</label><strong style="color:red;"> *</strong>
        {% if form.marca.errors %}<label class="error">{% for error in form.marca.errors %}{{error}}{% endfor %}</label>{% endif %}
        <div class="input-group">
            <div class="form-line">
                {{form.marca}}
            </div>
            <a class="input-group-addon popup" style="color: green;" title="Adicionar marca"
               href="{% url 'cadastro:addmarcaview' %}"><i class="material-icons add-new-icon" title="Adicionar">&#xE147;</i></a>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
        <label>{{form.unidade.label}}</label><strong style="color:red;"> *</strong>
        {% if form.unidade.errors %}<label class="error">{% for error in form.unidade.errors %}{{error}}{% endfor %}</label>{% endif %}
        <div class="input-group">
            <div class="form-line">
                {{form.unidade}}
            </div>
            <a class="input-group-addon popup" style="color: green;" title="Adicionar unidade"
               href="{% url 'cadastro:addunidadeview' %}"><i class="material-icons add-new-icon" title="Adicionar">&#xE147;</i></a>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.quantidade.label}}</label><strong style="color:red;"> *</strong>
            {% if form.quantidade.errors %}<label class="error">{% for error in form.quantidade.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.quantidade}}
        </div>
    </div>
</div>


<div class="col-sm-6">
    <div class="form-group">
        <label>{{form.estado.label}}</label><strong style="color:red;"> *</strong>
        {% if form.estado.errors %}<label class="error">{% for error in form.estado.errors %}{{error}}{% endfor %}</label>{% endif %}
        <div class="input-group">
            <div class="form-line">
                {{form.estado}}
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group">
        <div class="form-line">
            <label>{{form.inf_adicionais.label}}</label>
            {% if form.inf_adicionais.errors %}<label class="error">{% for error in form.inf_adicionais.errors %}{{error}}{% endfor %}</label>{% endif %}
            {{form.inf_adicionais}}
        </div>
    </div>
</div>